{% extends 'base.html' %}   

{% block content %}

    <div class="container">
      <br><br>
      <h1>Latest Competitive Intelligence Download Page</h1>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <table class="table table-bordered" style="width:60%; text-align:center">
              <thead>
                <tr>
                  <th>Info</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Last Date</td>
                  <td>{{ max_date.values[0][0] }}</td>
                </tr>
                <tr>
                  <td>Last Update Run</td>
                  <td>{{ max_date.values[0][1] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <a href="{{url_for('update')}}" class="btn btn-primary">Update</a><br>
            <label class="form-label col-form-label-sm">This could take up to a minute. Wait for the pop-up box to appear.<br>If it does not appear after a minute, please click the back button on your browser.</label>
            <br><br><br>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <form action="{{url_for('index')}}" method="POST">
                  <label for="datefrom" class="form-label">Download from:</label>
                  <input type="date" id="datefrom" class="form-control" name="datefrom" value={{ datenow }}>
                  <span class="form-label col-form-label-sm">
                      Select date to download from and click Download
                  </span><br>
                  <input type="submit" class="btn btn-primary" value="Download">
                </form>
              </div>
            </div>  
            <br><br>
          </div>
        </div>

      <table class="table table-primary table-warning table-bordered table-striped">
        <thead class="table-dark">
        <tr>
        {% for user in db.columns %}
            <th style="text-align:center; text-transform: capitalize">{{user}}</th>
        {% endfor %}
        </tr>
        </thead>  
        
        <tbody>
        {% for index, row in db.iterrows() %}
        <tr style="height:100px">
            {% for item in row %}
            <td style="width:20% ; text-align:center ; vertical-align: middle">{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>  

    {% endblock %}