{% extends 'base.html' %}   

{% block content %}

    <div class="container">
      <br><br>
      <h1>Competitive Intelligence Wordcloud Page</h1>
      <br>
      <div class="container">
        <div class="row">
        <div class="col">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <form action="{{url_for('wordcloud')}}" method="POST">
                <label for="datefrom" class="form-label">Download from:</label>
                <input type="date" id="datefrom" class="form-control" name="datefrom" value={{ datefrom }}><br>
                <label for="datefrom" class="form-label">Download to:</label>
                <input type="date" id="datefrom" class="form-control" name="dateto" value={{ datenow }}><br>
                <label for="select1" class="form-label">Filter on:</label>
                <div class="dropdown">
                  <select class="btn btn-light dropdown-toggle" id='select1' name="select1">
                    <option value="None">All</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Fixed">Fixed</option>
                    <option value="Regulatory">Regulatory</option>
                    <option value="Vendor">Vendor</option>
                    <option value="Benchmarking">Benchmarking</option>
                    <option value="Special">Special</option>
                  </select>
                </div>  
                <br>
                <input type="submit" class="btn btn-primary" value="Update Image">

                <a href="{{url_for('download')}}" class="btn btn-primary">Download Image</a>
              </form>
            </div>
          </div>  
          <br><br>
        </div>
        <div class="col">
          <p>Showing Wordcloud from {{ dfwc2['fromdate'][0] }} to {{ dfwc2['todate'][0] }} filtered by {{ dfwc2['catfilter'][0] }}</p>
          <img src={{ url }} alt="Chart" height="500" width="500">
        </div>
        <div class="col">
          <div class="row g-3 align-items-center">
            <div class="col-auto"></div>
          </div>  
          <br><br>
        </div>
      </div>
    </div>  

    {% endblock %}